@keyframes color-change {
  0% {
    background-color: #393939;
  }
  50% {
    background-color: #5baac3;
  }
  100% {
    background-color: #393939;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #393939;
}

h1,
h2 {
  font-size: 3.75rem;
  font-weight: 300;
}

h3 {
  font-size: 2.06rem;
  font-weight: 300;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

li {
  font-size: 1.125rem;
}

.nav {
  width: 100%;
  background-color: #fff0ed;
}
.nav__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 15px;
}
.nav__list {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}
.nav__logo {
  height: 50px;
  padding-right: 5px;
  transform: translateY(4px);
}
.nav__heading {
  padding-right: 20px;
  font-size: 50px;
}
.nav__item {
  padding: 0 20px;
}
.nav__link {
  text-decoration: none;
  font-size: 21px;
}
.nav__item, .nav__item--perma-color,
.nav a:hover {
  color: #5baac3;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 180px;
  padding: 30px;
  position: relative;
}
.button-container__background {
  width: 100%;
  height: 100%;
  padding: 30px;
  position: absolute;
  inset: -1px;
  background-color: #5baac3;
  transform: translate(6px, 6px);
}
.button-container__border {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid #393939;
  position: absolute;
}
.button-container__border:hover {
  transition: transform 0.3s;
  transform: translate(-2px, -2px);
  cursor: pointer;
}
.button-container__border:active {
  transition: transform 0.1s;
  transform: translate(5px, 5px);
}
.button-container__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.31rem;
  font-weight: 400;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
}

.footer,
.nitro-coffee {
  background-color: #fff0ed;
}

.nitro-coffee {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 4% 0;
  position: relative;
}
.nitro-coffee__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 35%;
}
.nitro-coffee__title {
  transform: translateX(-5px);
}
.nitro-coffee__img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nitro-coffee__description {
  padding: 1rem 0;
}
.nitro-coffee__button-container {
  margin: 1rem 0;
}

.products {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.products__title {
  padding: 4rem 0;
}
.products__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 1rem;
  width: 90%;
}
.products__card {
  width: 19rem;
  padding: 1rem 0 0 0;
  border-radius: 0.85rem;
  background-color: #fff;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products__card-img {
  max-height: 260px;
  padding: 1rem 1rem 2rem 1rem;
}
.products__card-img--can {
  padding-top: 0;
}
.products__card-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 0 0 10px 10px;
  background-color: #fff0ed;
  padding: 2rem 1rem;
}
.products__card-bottom-container--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.products__card-price {
  color: #5baac3;
  font-weight: 700;
}
.products__button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

@keyframes spin-to-win {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.discount-container {
  padding: 7% 10%;
  position: relative;
  width: 100%;
}
.discount-container-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 4rem 0;
}
.discount-container-top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 36%;
}
.discount-container-top-left__header {
  margin: 2rem 0;
}
.discount-container-top-left__thumbnail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}
.discount-container-top-left__thumbnail-container--thumbnail {
  width: 50px;
}
.discount-container-top-right {
  position: relative;
}
.discount-container-top-right__img {
  padding: 4.6rem 8rem;
  background: transparent;
  position: relative;
  z-index: 1;
}
.discount-container-top-right__img:hover {
  animation: spin-to-win 2s infinite linear;
}
.discount-container-top-right__border {
  width: 100%;
  height: 100%;
  border: 5px solid #5baac3;
  z-index: 0;
}
.discount-container-top-right__background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: -1;
}
.discount-container-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #393939;
  animation: color-change infinite 2.5s;
  margin: 6rem 0;
  width: 100%;
}
.discount-container-bottom__text {
  font-size: 2.7rem;
  font-weight: 500;
  padding: 2.5rem 0;
}
.discount-container-bottom__text--bold {
  font-size: 2.7rem;
  font-weight: 500;
  padding: 2.5rem 0;
  font-weight: 700;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0 4rem 0;
  position: relative;
}
.footer__faint-image {
  width: 120px;
  opacity: 0.25;
  position: absolute;
}
.footer__faint-image--left {
  top: 25px;
  left: -40px;
}
.footer__faint-image--right {
  bottom: 25px;
  right: -45px;
}
.footer__social-title {
  padding-bottom: 2rem;
}
.footer__social-list-item {
  display: inline-block;
}
.footer__social-list-icon {
  width: 50px;
}/*# sourceMappingURL=landing.css.map */